
# dependencies
/node_modules
/.pnp
/env.json
.pnp.js

.secret
.env
# testing
/coverage
 env.json
# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local